{% load static %}

{% block content %}
    <section class="auth">
        <div class="bgr"></div>
        <div class="login">
            <a href="" id="close"><i class="far fa-times-circle"></i></a>
            <h1>Login</h1>
            <form action="user/{{login}}/" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" class="inp">
                <input type="password" name="password" placeholder="Password" class="inp">
                <input type="submit" value="Login" class="l-btn" id="l-btn">
            </form>
            <a href="">Forgot password?</a>
            <a href="user/{{signup}}/">Create a new account</a>
        </div>
    </section>
{% endblock %}