{% load static %}
{% block content %}
<div class="progform">
    {% if val == "edpj" %}
    <h1>Edit Project</h1>
    <form action="{% url 'edit_proj' user.id user.session_token pj.id%}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col"><label for="name">Project Name</label></div>
            <div class="col"><input type="text" value="{{pj.p_name}}" id="name" name="p_name" required placeholder="Project Name"></div>
        </div>
        <div class="row">
            <div class="col"><label for="desc">Description</label></div>
            <div class="col"><textarea name="desc" id="desc" cols="30" rows="10" required
                    placeholder="Description">{{pj.description}}</textarea></div>
        </div>
        <div class="row">
            <div class="col"><label for="p_s_d">Planned Start Date</label></div>
            <div class="col"><input type="date" id="p_s_d" name="p_s_d" ><p>{{pj.planned_start_date}}</p></div>
        </div>
        <div class="row">
            <div class="col"><label for="p_e_d">Planned End Date</label></div>
            <div class="col"><input type="date" id="p_e_d" name="p_e_d"><p>{{pj.planned_end_date}}</p></div>
        </div>
        <div class="row">
            <div class="col"><label for="esh">Estimated Hours</label></div>
            <div class="col"><input type="text" id="esh" value="{{ pj.estimated_hours }}" name="esh" required placeholder="Estimated Hours"></div>
        </div>
        <div class="row">
            <div class="col"><label for="esb">Estimated Budget</label></div>
            <div class="col"><input type="text" id="esb" value="{{ pj.estimated_budget }}" name="esb" required placeholder="Estimated Budget"></div>
        </div>
        <div class="row">
            <div class="col"><input type="submit" value="Submit" name="submit" class="btn"></div>
        </div>
    </form>
    {% elif val == "edtx" %}
        <h1>Edit Task</h1>
        <form action="{% url 'ed_task' user.id user.session_token tx.id %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col"><label for="name">Name</label></div>
                <div class="col"><input type="text" id="name" value="{{ tx.t_name }}" name="t_name" required placeholder="Project Name"></div>
            </div>
            <div class="row">
                <div class="col"><label for="desc">Description</label></div>
                <div class="col"><textarea name="desc" id="desc" cols="30" rows="10" required
                        placeholder="Description">{{ tx.description }}</textarea></div>
            </div>
            <div class="row">
                <div class="col"><label for="prio">Priority</label></div>
                <div class="col"><input type="number" id="prio" value="{{tx.priority}}" name="prio" required placeholder="Priority"></div>
            </div>
            <div class="row">
                <div class="col"><label for="p_s_d">Planned Start Date</label></div>
                <div class="col"><input type="date" id="p_s_d" name="p_s_d"><p>{{tx.planned_start_date}}</p></div>
            </div>
            <div class="row">
                <div class="col"><label for="p_e_d">Planned End Date</label></div>
                <div class="col"><input type="date" id="p_e_d" name="p_e_d"><p>{{tx.planned_end_date}}</p></div>
            </div>
            <div class="row">
                <div class="col"><label for="esh">Estimated Hours</label></div>
                <div class="col"><input type="text" id="esh" value="{{ tx.estimated_hours }}" name="esh" required placeholder="Estimated Hours"></div>
            </div>
            <div class="row">
                <div class="col"><label for="esb">Estimated Budget</label></div>
                <div class="col"><input type="text" id="esb" value="{{ tx.estimated_budget }}" name="esb" required placeholder="Estimated Budget"></div>
            </div>
            <div class="row">
                <!-- <div class="col">{{form.as_p}}</div> -->
                <div class="col"><input type="file" id="id_file" name="file"></div>
            </div>
            <div class="row">
                <div class="col"><input type="submit" value="Submit" name="submit" class="btn"></div>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}