{% extends 'base2.html' %}
{% load static %}

{% block title %}
<title>{{title}}</title>
{% endblock %}

{% block content %}
<section class="dash">
    {% if val == 'np' %}
        {% include 'progform.html' %}
    {% endif %}
    {% if val == 'pg' %}
        {% include 'list.html' %}
    {% endif %}
    {% if val == 'ctk' %}
        {% include 'taskform.html' %}
    {% endif %}
    {% if val == 'tk' %}
        {% include 'tlist.html' %}
    {% endif %}
    {% if val == 'cdb' %}
        {% include 'usrdash.html' %}
    {% endif %}
    {% if val == 'pdv' %}
        {% include 'detailview.html' %}
    {% endif %}
</section>
{% endblock %}