{% load static %}

{% block content %}
    <section class="t_form">
            <div class="progform">
                <h1>New Task</h1>
                <form action="{% url 'newtask' user.id user.session_token %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col"><label for="p_name">Project Name</label></div>
                        <div class="col">
                            <select name="project" id="p_name">
                                {% for d in t_data %}
                                <option value={{d.id}}>{{d.p_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><label for="name">Name</label></div>
                        <div class="col"><input type="text" id="name" name="t_name" required placeholder="Project Name"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label for="desc">Description</label></div>
                        <div class="col"><textarea name="desc" id="desc" cols="30" rows="10" required
                                placeholder="Description"></textarea></div>
                    </div>
                    <div class="row">
                        <div class="col"><label for="prio">Priority</label></div>
                        <div class="col"><input type="number" id="prio" name="prio" required placeholder="Priority"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label for="p_s_d">Planned Start Date</label></div>
                        <div class="col"><input type="date" id="p_s_d" name="p_s_d" required></div>
                    </div>
                    <div class="row">
                        <div class="col"><label for="p_e_d">Planned End Date</label></div>
                        <div class="col"><input type="date" id="p_e_d" name="p_e_d" required></div>
                    </div>
                    <div class="row">
                        <div class="col"><label for="esh">Estimated Hours</label></div>
                        <div class="col"><input type="text" id="esh" name="esh" required placeholder="Estimated Hours"></div>
                    </div>
                    <div class="row">
                        <div class="col"><label for="esb">Estimated Budget</label></div>
                        <div class="col"><input type="text" id="esb" name="esb" required placeholder="Estimated Budget"></div>
                    </div>
                    <div class="row">
                        <div class="col">{{form.as_p}}</div>
                    </div>
                    <div class="row">
                        <div class="col"><input type="submit" value="Submit" name="submit" class="btn"></div>
                    </div>
                </form>
            </div>
    </section>
{% endblock %}