{% load static %}

{% block pdetail %}
<section class="bord projdtl">
    <div class="detail">
        <h1>Task Detail View</h1>
        <table>
            <tr>
                <th>
                    <h3>Task Name</h3>
                </th>
                <td>
                    <p>{{task.t_name}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>Description</h3>
                </th>
                <td>
                    <p>{{task.description}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>Priority</h3>
                </th>
                <td>
                    <p>{{task.priority}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>Planned Start Date</h3>
                </th>
                <td>
                    <p>{{task.planned_start_date}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>Planned End Date</h3>
                </th>
                <td>
                    <p>{{task.planned_end_date}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>Estimated Hours</h3>
                </th>
                <td>
                    <p>{{task.estimated_hours}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>Estimated Budget</h3>
                </th>
                <td>
                    <p>{{task.estimated_budget}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>Actual Start Date</h3>
                </th>
                <td>
                    <p>{{task.actual_start_date}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>Actual End date</h3>
                </th>
                <td>
                    <p>{{task.actual_end_date}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>Actual Hours</h3>
                </th>
                <td>
                    <p>{{task.actual_hours}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>Actual Budget</h3>
                </th>
                <td>
                    <p>{{task.actual_budget}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>Attachments</h3>
                </th>
                <td>
                    <a href="/media/{{atch.media}}/"><p>{{atch.media}}</p></a>
                </td>
            </tr>
        </table>
        {% if user.u_type == 'DV' %}
        <div class="ebtn">
            <form action="{% url 'tasks' user.id user.session_token task.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Accept" id="acc">
            </form>
        </div>
        {% elif user.u_type == 'CL'%}
        <div class="ebtn">
            <a href="" id="edit">Edit</a>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}