{% load static %}

{% block content %}
    <section class="cldash">
        <div class="works">
            <div class="wk">
                <h3>Todo</h3>
                <div class="jobs">
                    <p></p>
                </div>
            </div>
            <div class="wk">
                <h3>Doing</h3>
                <div class="jobs">
                    <p></p>
                </div>
            </div>
            <div class="wk">
                <h3>Done</h3>
                <div class="jobs">
                    <p></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}