{% load static %}

{% block content %}
    <section class="cldash">
        <div class="works">
            <div class="wk">
                <h3>Todo</h3>
                {% for d in pg_data %}
                {% if d.status == 'TD' %}
                <div class="jobs">
                    {% if user.u_type == 'CL' %}
                    <p>{{d.p_name}}</p>
                    {% elif user.u_type == 'DV' %}
                    <p>{{d.t_name}}</p>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="wk">
                <h3>In Progress</h3>
                {% for d in pg_data %}
                {% if d.status == 'DG' %}
                    {% if user.u_type == 'CL' %}
                    <p>{{d.p_name}}</p>
                    {% elif user.u_type == 'DV' %}
                    <p>{{d.t_name}}</p>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="wk">
                <h3>Completed</h3>
                {% for d in pg_data %}
                {% if d.status == 'DN' %}
                    {% if user.u_type == 'CL' %}
                    <p>{{d.p_name}}</p>
                    {% elif user.u_type == 'DV' %}
                    <p>{{d.t_name}}</p>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}